@font-face {
  font-family: 'Gilroy-Regular';
  src: url(assets/fonts/gilroy/Gilroy-Regular.ttf);
}

* {
  margin: 0;
}

body {
  /* background-image: url('./assets/bg-circles.png'); */
  font-family: 'Gilroy-Regular';
}

img,
ol,
li {
  background: transparent;
}

/* main {
  background-image: url('./assets/bg-circles.png');
  background-repeat: no-repeat;
} */
