@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gilroy-Regular'), local('Gilroy-Regular'),
    url('assets/fonts/gilroy/Gilroy-Regular.ttf');
}

* {
  margin: 0;
}

body {
  font-family: 'Gilroy-Regular';
}

img,
ol,
li {
  background: transparent;
}
